@CHARSET "UTF-8";

/* CSS Document */

body,div,ul,li,a,p,img,h3{
	margin:0;
	padding:0;
	}
h3{
	margin-bottom:0.5em;
	}
.center{
	width:913px;
	margin-top:0.8em;
	
	background:#ccc;
	border-radius:0.5em;
	padding:1em 1em;
	}
.pic{
	float:left;
	}
.detail{
	padding-left:2em;
	float:left;
	}
.preferential{
	margin-top:1em;
	padding:0.5em;
	border-radius:0.5em;
	clear:both;
	background:white;
	
	}
.preferential h3{
	color:red;
	}